In [5]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [6]:
df = pd.read_excel("dataset/HumanDataset.xlsx")

In [7]:
df.head()

  Gender     Weight      Height
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [8]:
std_scaler = StandardScaler()
Enc = LabelEncoder()

df.Gender = Enc.fit_transform(df.Gender)
df.iloc[:, [0,2]] = std_scaler.fit_transform(df.iloc[:, [0,2]])

In [9]:
df.head()

   Gender     Weight    Height
0     1.0  73.847017  2.505797
1     1.0  68.781904  0.027101
2     1.0  74.110105  1.597806
3     1.0  71.730978  1.825222
4     1.0  69.881796  1.398750

In [10]:
x = df.iloc[:, [0,2]]
y = df.iloc[:, 1]

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [12]:
print(x_train.iloc[0])

Gender    1.000000
Height    0.571025
Name: 3468, dtype: float64

In [13]:
linear = LinearRegression()
model = linear.fit(x_train, y_train)

In [14]:
accuracy = model.score(x_test, y_test)
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 85.72205937538729%

In [15]:
joblib.dump((model, "model.pkl")

['model.pkl']

In [16]:
model, std_scaler = joblib.load("model.pkl")

Test Deployment

In [18]:
inputheight = 176
gender = 1
deploy = [gender, inputheight]
deploy = np.array([float(x) for x in deploy])
deploy = std_scaler.transform([deploy])
result = model.predict(deploy)
result

C:\Users\Admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\Admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([67.66341156])